.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.navbar-brand {
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: italic;
    font-size: 50px;
  }
  
.nav-link{
 font-size: x-large;
 }

.dropdown-toggle{
    color: red;
    font-weight: bold;
    font-size: x-large;
}

/* .py-5 {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
} */

footer{
    background-color: black;
    color: white; /* Text color */
    padding: 20px;
    text-align: center;
}

.h6{
    text-align: center;
}

.height {
    height: 300px;
}

.wordings {
    background-color: lightcoral;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
    color: white;
    font-size: larger;
    text-align: center;
}

.new-arrival {
    margin-left: 110px;
    padding-top: 20px;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
}

.best-seller {
    margin-left: 10px;
    padding-top: 5px;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
}

.sale {
    margin-left: 10px;
    padding-top: 50px;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    font-weight: 600;
    font-style: bold;
}

.strikethrough {
    text-decoration: line-through;
}

.price-1 {
    color: red;
    font-weight: bold;
}

.best-sellers-dress{
    margin-left: 10px;
    margin-top: 30px;
    padding-top: 30px;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
}

header.masthead {
    position: relative;
    margin-top: 4rem;
    margin-bottom: 10rem;
    padding-top: calc(20rem + 75px);
    padding-bottom: 20rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
  }

  .gradient-background {
    background: linear-gradient(300deg, #011318, #0621f1, hsl(7, 80%, 69%));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  .custom-form {
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); /* Set background color with some transparency */
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  }

  .btn-pink {
    background-color: #ec60a6;
    color: white; 
    
}

.login-background{
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    padding: 50px 0; 
}

.test:focus {
    box-shadow: none; /* Remove any box shadow */
    border: none; /* Optional: Remove the border */
   }

   .checkout-background {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    position: relative;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.alert {
    text-align: center;
    font-size: medium;
    font-family:'Arial Narrow', sans-serif;
    color: black;
    font-weight: bold;
    padding-right: 2%;
    background-color: #f0f0f0; 
    color: #000000; 
 }

 .alert img {
    align-items: center;
}

.search-form {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

.search_box{
    padding:3px; 
    border:solid 1px #666666; 
    width:300px; height:45px; 
    font-size:18px;
   }
   .search_button{
    width:300px; height:45px; 
    padding-right:3px;padding-bottom:3px; 
    color:#141313; font-weight:bold; 
    font-size:16px;
   }
   ol.update{
    list-style:none;
    font-size:1.1em; 
    margin-top:20px;
    padding-left:0; 
   }

   #flash{
    margin-top:20px;
    text-align:left;
   }

   #searchword{
    text-align:left; 
    margin-top:20px; 
    display:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#f1ebeb;
   }

   .searchword{
    font-weight:bold;
    color:#fe6f41;
   }
   
   .text-success-msg{
    color:green;
    font-size:16px;
    font-weight:normal;
}

.text-error-msg{
    color:red;
    font-size:16px;
    font-weight:normal;
}
