{% include "header.html" %}

<section id="contact-img" class="mx-lg-12">
  <img
    src="./static/img/AboutUs.jpg"
    style="width: 1600px"
    ;
    alt="Contact Image"
  />

  <div class="container py-5">
    <h2>
      <strong><a href="/" style="text-decoration: none; color: inherit;">Home</a> | About Us<br /><br /></strong>
    </h2>
    <h4 class="font-weight-bold">Our Mission<br /></h4>
    <p>
      Fashion Viesta is committed to offering high quality, beautiful, modest
      clothing that you do not need alter to meet modesty standards. We
      understand that it has become difficult to find modest clothing that is
      still beautiful and unique. But you will find the perfect option at
      Fashion Viesta! We know you will love your new gorgeous and modest
      outfit! Our mission is to bring you a large selection of modest dresses,
      tops, skirts and jumpsuits for all occasions. Our belief is
      that every woman should have access to on-trend wardrobe essentials that
      don't break the bank.<br /><br />
      We believe that all women are beautiful. At Fashion Viesta, we want to
      empower all women by providing an affordable fashion-forward lifestyle
      brand focused on integrity, teamwork, and respect for people. We are
      committed to representing and serving women of every shape, size, and
      color today and always.
    </p>
    <br />
    <h4 class="font-weight-bold">Customer Service<br /></h4>
    <p>
      Customer service is our top priority, so please feel free to contact us
      with any questions or concerns. It is our philosophy to treat every
      customer like family.<br /><br />All of our items run true to size, unless
      otherwise specified in the product description, ensuring the perfect fit
      every time. We ship our items the day after order placement so that items
      reach you as soon as possible.  With these unbeatable prices, there’s no
      reason you can’t have it all! 
    </p><br />
    <h3><strong>Welcome to the Fashion Fiesta family!<h3>
  </div>

  {% include "footer.html" %}
</section>
