{% include "header.html" %}

<section id="contact-img" class="mx-lg-12">
  <img
    src="./static/img/ContactUs.jpg"
    style="width: 1600px"
    ;
    alt="Contact Image"
  />

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-l- row-cols-md-2 g-2 mb-5">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>
                <strong
                  ><a href= "/" style="text-decoration: none; color: inherit;">Home</a> | Contact Us<br /><br
                /></strong>
              </h2>
              <h4>How to contact us?<br /></h4>
              <p>&#128231; By Email: service@fashionviesta.com</p>
              <br />
              <p class="me-4">
                For urgent order issues, cancellation requests or order change
                requests, do email us. We will get back to you within 24
                hours.<br /><br />
                For other enquiry, please submit via below form. We will get
                back to you within 2 working days.
              </p>
              <div
                class="d-flex justify-content-between align-items-center"
              ></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3 class="ms-3"><strong>Sumit Your Enquiry</h3>
              <form class="row g-2">
               <div class="col-md-6">
                  <label for="inputName4" class="form-label"><i class="fa-solid fa-user"></i>Name<span class="text-danger"><strong>*</strong></span></label>
                  <input type="text" class="form-control" id="inputName">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label"><i class="fa-solid fa-envelope"></i>Email<span class="text-danger"><strong>*</strong></label>
                  <input type="password" class="form-control" id="inputEmail">
                </div>
                <div class="col-6">
                  <label for="inputAddress" class="form-label">&#128383Telephone</label>
                  <input type="text" class="form-control" id="telephone">
                </div><br>
                 <div class="col-md-8">
                  <label for="inputState" class="form-label">Select Releated Topic<span class="text-danger"><strong>*</strong></label>
                  <select id="inputState" class="form-select" placeholder="--please select a topic--">
                    <option selected>--Select a topic--</option>
                    <option value="1">Missing Product</option>
                    <option value="2">Damage Product</option>
                    <option value="3">Late Delivery</option>
                    <option value="3">Wrong Size</option>
                  </select>
                </div>
                  </select>
                </div>
                <div class="ms-5 mb-2 col-md-10">
                  <label for="inputComment" class="form-label">Leave a comment here<span class="text-danger"><strong>*</strong></label>
                  <textarea class="form-control" id="inputComment" rows="5" placeholder="Write a message here"></textarea>
              </div>
                  <div class="form-check mb-10">
                    <label class="text-danger"><span class="text-danger"><strong>*</strong>Required Fields</label>
                  </div>
                </div>
                <div class="ms-3 py-3 text-left">
                  <button type="submit" class="btn btn-dark btn-lg fs-6 col-md-3 mb-5">Submit</button>
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  {% include "footer.html" %}

