<!-- Delete Modal code -->
<div id="delete_modal_{{ product_category.id }}" class="modal">
  <span
    onclick="document.getElementById('delete_modal_{{ product_category.id }}').style.display='none'"
    class="close"
    title="Close Modal"
    >×</span
  >
  <form
    id="delete_product_category_{{ product_category.id }}_form"
    class="modal-content"
    action=""
  >
    <div
      class="container"
      style="
        background-color: #ffffff;
        margin-top: 10%;
        margin-left: 30%;
        margin-right: 30%;
      "
    >
      <h1>Delete Category</h1>
      <h4>Are you sure you want to delete this product cate?</h4>
      <div class="clearfix">
        <!-- Close the delete modal if we click the cancel button -->
        <button
          type="button"
          onclick="document.getElementById('delete_modal_{{ product_category.id }}').style.display='none'"
          class="cancelbtn btn-info btn-md"
        >
          Cancel
        </button>
        <!-- But if we want to delete then call the function to delete it and reload the user's page-->
        <input
          type="submit"
          class="deletebtn btn-danger btn-md"
          value="Delete"
        />
      </div>
    </div>
  </form>
  <div
    class="delete-category-msg-{{ product_category.id }}"
    id="delete-category-msg"
  ></div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("delete_modal_{{ product_category.id }}");
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };
</script>

<!-- Jquery and Ajax for user deletion -->

<script>
  $(document).ready(function () {
    $("#delete_product_category_{{ product_category.id }}_form").submit(
      function (e) {
        console.log("here in delete???");
        e.preventDefault();
        console.log("here again???");
        //var formData = $(this).serialize();

        $.ajax({
          url: "/delete-category/{{ product_category.id }}",
          type: "POST",
          data: {
            message: "Delete this category!",
          },

          success: function (response) {
            if (response.success) {
              $("#delete-category-msg-{{ product_category.id }}")
                .text(response.message)
                .removeClass("text-error-msg")
                .addClass("text-success-msg");
              window.location.href = "/admin_all_categories";
            } else {
              $("#delete-category-msg-{{ product_category.id }}")
                .text(response.message)
                .removeClass("text-success-msg")
                .addClass("text-error-msg");
            }
          },
          error: function (xhr, status, error) {
            $("#delete-category-msg-{{ product_category.id }}")
              .text("Error: " + xhr.responseJSON.message)
              .removeClass("text-success-msg")
              .addClass("text-error-msg");
          },
        });
      }
    );
  });
</script>
