{% include "header.html" %}
<div class="album py-5 bg-light">
  <p class="wordings">
    Beautiful selection of dresses. Great range of colours and dependable
    sizing. We will keep you looking your best through every season.
  </p>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-l- row-cols-md-3 g-3 mb-5">
        <div class="col">
          <div class="card shadow-m mb-6">
            <img
              src="./static/img/Dress1.jpg"
              class="d-block w-100"
              alt="dress"
            />
            <div class="card-body">
              <p class="card-text">Flattering Border Print Dress<br />NZD99</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-m">
            <img
              src="./static/img/Maxidress1.jpg"
              class="d-block w-100"
              alt="maxidress"
            />
            <div class="card-body">
              <p class="card-text">Tiered Jersey Maxi Dress<br />NZD99<br /></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-m">
            <img
              src="./static/img/Dress2.jpg"
              class="d-block w-100"
              alt="dress"
            />
            <div class="card-body">
              <p class="card-text">
                Thermolactyl Sweater Dress<br />NZD109<br />
              </p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img
              src="./static/img/NewMaxidress1.jpg"
              class="d-block w-100"
              alt="maxidress"
            />
            <div class="card-body">
              <p class="card-text">Twist Front Dress<br />NZD105<br /></p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="./static/img/Dress3.jpg"
              class="d-block w-100"
              alt="dress"
            />
            <div class="card-body">
              <p class="card-text">Lovely Lace Dress<br />NZD119<br /></p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="./static/img/Dress6.jpg"
              class="d-block w-100"
              alt="dress"
            />
            <div class="card-body">
              <p class="card-text">Tropical Sundress<br />NZD69</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "footer.html" %}
</div>
