<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fashion Website</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/merchant.css') }}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function () {
        $(".search_button").click(function () {
          var search_word = $("#search_box").val();
          if (search_word.trim() !== "") {
            $.ajax({
              type: "POST",
              url: "/searchdata",
              data: { search_word: search_word },
              cache: false,
              beforeSend: function () {
                $("#insert_search").empty();
                $("#flash").show();
                $("#searchword").show();
                $(".searchword").text(search_word);
                $("#flash").html(
                  '<img src="/static/img/category_2/loader.gif" align="absmiddle"> Loading Response...'
                );
              },
              success: function (response) {
                $("#insert_search").show().append(response.data);
                $("#flash").hide();
              },
            });
          }
          return false;
        });
      });
    </script>
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <a class="navbar-brand" href="/" style="font-size:50px; color: rgba(250, 38, 102, 0.901)">Fashion Fiesta</a>
          <div class="collapse navbar-collapse justify-content-end"> <!-- Add justify-content-end -->
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="/merchant_login"><b>Login</b></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/merchant_signup"><b>Signup</b></a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div id="flash" style="display: none"></div>
  <div id="insert_search"></div>
  </body>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/merchant.css') }}" rel="stylesheet" />
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
      <div class="card-header"></div>
			<div class="card-body">
                <!-- Signup form -->
				<form id="merchant-signup-form">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="firstname" class="form-control" placeholder="firstname">
					</div>
            <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="lastname" class="form-control" placeholder="lastname">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
						</div>
						<input type="email" name="email" class="form-control" placeholder="companyemail">
					</div>
            <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="password" class="form-control" placeholder="password">
					</div>
            <!-- Submit button -->
            <div style="padding-bottom: 50px;"> <!-- Wrap your form and sign-up in a div -->
              <form id="merchant-signup-form" action="/merchant_signup" method="POST" onsubmit="return handleSignup()">
                  <div class="form-group" style="margin-top: 30px; margin-left: 50px;"> <!-- Decreased margin-top -->
                      <input type="submit" value="Sign Up" class="btn float-right login_btn">
                  </div>
              </form>
              <div class="sign-up" style="margin-top: 40px; margin-left: 80px; color: white; font-size: 18px;">
                Member? <a href="/merchant_login">Login</a>
            </div>
          <span id="merchant-signup-message" class="text-danger"></span>
          <script>
          function handleSignup() {
              // Assuming the signup process is successful
              // You might want to handle form validation here
              const success = true; // Replace with actual success logic
          
              if (success) {
                  window.location.href = '/login'; // Redirect to login page
                  return false; // Prevent form submission
              }
              return true; // Allow form submission if not successful
          }
                  </script>
        	    </div>
			    </div>
		    </div>
	    </div>
   </div>
</body>
</html>
<!--Jquery -->
<script
src="https://code.jquery.com/jquery-3.7.1.min.js"
integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
crossorigin="anonymous"
></script>
<!-- Boostrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"></script>

<script>
// AJAX for merchant signup form submission
$("#merchant-signup-form").submit(function (e) {
  e.preventDefault();
  $.ajax({
    url: "/merchant_signup",
    type: "POST",
    data: $(this).serialize(),
    success: function (response) {
      if (response.success) {
        $("#merchant-signup-message")
          .text(response.message)
          .removeClass("text-danger")
          .addClass("text-success");
      } else {
        $("#merchant-signup-message")
          .text(response.message)
          .removeClass("text-success")
          .addClass("text-danger");
      }
    },
    error: function (xhr, status, error) {
      $("#signup-message")
        .text("Error: " + xhr.responseJSON.message)
        .removeClass("text-success")
        .addClass("text-danger");
    },
  });
});
</script>
</section>


 