<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Product - Fashion Website</title>
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/merchant.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <style>
      .nav {
        border-right: 1px solid white;
      }
      .container {
        margin-left: 100px;
        max-width: 1100px;
        padding: 8px;
      }
      .text-white {
        margin-top: 5px;
        font-size: 14px;
      }
      h1 {
        font-size: 2em;
        margin-left: 20px;
      }
      .form-group label {
        font-size: 12px;
      }
      .form-control,
      .form-control-file {
        font-size: 12px;
        padding: 4px;
      }
      .btn {
        font-size: 12px;
        padding: 4px 10px;
      }
    </style>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a
          class="navbar-brand"
          href="/"
          style="font-size: 50px; color: rgba(250, 38, 102, 0.901)"
          >Fashion Fiesta</a
        >
        <ul class="navbar-nav d-flex flex-row ms-auto text-white">
          <li class="nav-item">
            <span class="text-primary"
              >Hello, {{ session['logged_in_merchant'].get('first_name',
              'Guest') }}!</span
            >
            <a class="btn btn-link text-reset" href="/merchant_logout"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <!-- Side Navigation -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-12 mt-5">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                href="/merchant_addnewcategory"
                class="nav-link text-white"
                style="font-size: 17px"
              >
                <i class="fas fa-plus"></i> Add New Category
              </a>
            </li>
            <li class="nav-item">
              <a
                href="/admin_all_categories"
                class="nav-link text-white"
                style="font-size: 17px"
              >
                <i class="fas fa-list"></i> Display Categories
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white" style="font-size: 17px">
                <i class="fas fa-shopping-cart"></i> Orders
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white" style="font-size: 17px">
                <i class="fas fa-user"></i> My Account
              </a>
            </li>
          </ul>
        </div>

        <div class="container">
          <form
            action="/merchant_addproduct"
            enctype="multipart/form-data"
            method="POST"
          >
            <div class="text-white">
              <h1>Add New Product</h1>
              <div class="row" style="margin-top: 10px">
                <div class="col-md-4 ms-3">
                  <div class="form-group">
                    <label for="product_name">Product Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="product_name"
                      name="product_name"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-4 ms-3">
                  <div class="form-group">
                    <label for="product_code">Product Code</label>
                    <input
                      type="text"
                      class="form-control"
                      id="product_code"
                      name="product_code"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 ms-3">
                  <div class="form-group">
                    <label for="product_display_title"
                      >Product Display Title</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="product_display_title"
                      name="product_display_title"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-4 ms-3">
                  <div class="form-group">
                    <label for="product_description">Product Description</label>
                    <textarea
                      class="form-control"
                      id="product_description"
                      name="product_description"
                      rows="2"
                      required
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 ms-3">
                  <div class="form-group">
                    <label for="product_price">Product Price (NZD $)</label>
                    <input
                      type="number"
                      step="0.01"
                      class="form-control"
                      id="product_price"
                      name="product_price"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-4 ms-3">
                  <div class="form-group">
                    <label for="product_quantity">Product Quantity</label>
                    <input
                      type="number"
                      class="form-control"
                      id="product_quantity"
                      name="product_quantity"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 ms-3">
                  <div class="form-group">
                    <label for="product_image">Product Main Image</label>
                    <input
                      type="file"
                      class="form-control-file"
                      id="product_image"
                      name="product_image"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-4 ms-3">
                  <div class="form-group">
                    <label for="product_secondary_image1"
                      >Product Secondary Image 1</label
                    >
                    <input
                      type="file"
                      class="form-control-file"
                      id="product_secondary_image1"
                      name="product_secondary_image1"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group ms-3">
                <label for="product_secondary_image2"
                  >Product Secondary Image 2</label
                >
                <input
                  type="file"
                  class="form-control-file"
                  id="product_secondary_image2"
                  name="product_secondary_image2"
                />
              </div>
              <button type="submit" class="btn btn-primary ms-3">
                Add Product
              </button>
            </div>
          </form>
          <div>
            <a
              href="/merchant_viewproducts"
              class="btn btn-info ms-3 mt-4"
              style="background-color: black; color: white"
              >Go to previous page</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
