<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fashion Website</title>
    <link
    href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
  <link
    href="{{ url_for('static', filename='css/merchant.css') }}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function () {
        $(".search_button").click(function () {
          var search_word = $("#search_box").val();
          if (search_word.trim() !== "") {
            $.ajax({
              type: "POST",
              url: "/searchdata",
              data: { search_word: search_word },
              cache: false,
              beforeSend: function () {
                $("#insert_search").empty();
                $("#flash").show();
                $("#searchword").show();
                $(".searchword").text(search_word);
                $("#flash").html(
                  '<img src="/static/img/category_2/loader.gif" align="absmiddle"> Loading Response...'
                );
              },
              success: function (response) {
                $("#insert_search").show().append(response.data);
                $("#flash").hide();
              },
            });
          }
          return false;
        });
      });
    </script>
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a
          class="navbar-brand"
          href="/"
          style="font-size:50px; color: rgba(250, 38, 102, 0.901)"
          >Fashion Fiesta</a
        >
      </div>
      <ul class="navbar-nav d-flex flex-row ms-auto text-white">
        <li class="nav-item">
            <span class="text-primary">Hello, {{ session['logged_in_merchant'].get('first_name', 'Guest') }}! </span>
            <a class="btn btn-link text-reset" href="/merchant_logout">Logout</a>
        </li>
      </ul>
   </div>
  </nav>
  <div id="flash" style="display: none"></div>
  <div id="insert_search"></div>
  </body>
  <link
  rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        .navbar {
            margin-bottom: 20px;
        }
        .nav {
            border-right: 1px solid white;
        }
        .form-container {
            background-color: #333;
            padding: 40px 20px; /* Add top padding */
            border-radius: 5px;
            margin-left: -20px; /* Shift slightly to the left */
            width: 40%; /* Set a percentage width */
        }
        .form-container h1 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Side Navigation -->
            <div class="col-lg-2 col-md-3 col-sm-4 col-12 mt-5">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a href="/merchant_addnewcategory" class="nav-link text-white" style="font-size: 17px;">
                            <i class="fas fa-plus"></i> Add New Category
                        </a>
                    </li>
                    <li class="nav-item">
                      <a href="/admin_all_categories" class="nav-link text-white" style="font-size: 17px;">
                          <i class="fas fa-list"></i> Display Categories
                      </a>
                  </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link text-white" style="font-size: 17px;">
                            <i class="fas fa-shopping-cart"></i> Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/merchant_user_details" class="nav-link text-white" style="font-size: 17px;">
                            <i class="fas fa-user"></i> My Account
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Table Wrapper -->
            <div class="col-lg-8 col-md-7 col-sm-6 col-12 pt-3 mt-5 d-flex justify-content-center align-items-start">
              <div class="form-container text-white">
                  <h1>Add New Category</h1>
                  <form id="addCategoryForm" method="post">
                      <div class="form-fields">
                          <div class="mb-3">
                              <input type="text" id="category_name" class="form-control" name="category_name" placeholder="Category Name" required>
                          </div>
                          <div class="mb-3">
                              <input type="text" id="category_code" class="form-control" name="category_code" placeholder="Category Code" required>
                          </div>
                          <button type="submit" class="btn btn-info">Add Category</button>
                      </div>
                    </form>
                    <span id="add-category-msg"></span>
                </div>
            </div>
        </div>
    </div>

    
    <script>
      $(document).ready(function() {
          $('#addCategoryForm').submit(function(e) {
              console.log("here???")
              e.preventDefault();
              console.log("here again???")
              var formData = $(this).serialize(); 
              
              $.ajax({
                  url: '/merchant_addnewcategory',  // Ensure this points to the right route
                  type: 'POST', 
                  data: formData,

                  success: function(response) {
                      if (response.success) {
                          $('#add-category-msg').text(response.message).removeClass('text-error-msg').addClass('text-success-msg');
                          window.location.href = '/admin_all_categories';
                      } else {
                          $('#add-category-msg').text(response.message).removeClass('text-success-msg').addClass('text-error-msg');
                      }
                  },
                  error: function(xhr, status, error) {
                      $('#add-category-msg').text("Error: " + xhr.responseJSON.message).removeClass('text-success-msg').addClass('text-error-msg');
                  }
                   
              });
          });
      });
  </script>    
</body>
</html>