{% include "header.html" %}
<div class="album py-5 bg-light">
  <p class="wordings">
    Fantastice selection of comfortable yet stylish clothing. Great range of
    colours and dependable sizing. We will keep you looking your best through
    every season.
  </p>
  <h2 class="new-arrival">New Arrival</h2>
  <div class="container">
    <div class="row">
      {% if random_products_one %} {% for product in random_products_one %}
      <div class="col-sm-2">
        <div class="card mt-4 mb-5 box-shadow">
          <img
            src="{{product.product_image}}"
            class="d-block w-100"
            alt="product"
          />
          <div class="card-body">
            <p class="card-text">
              {{product.product_display_title}}<br />NZD{{
              product.product_price}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% else %} "Sorry, there are no products to display at this
      time" {% endif %}

      <h2 class="best-seller">Best Sellers</h2>
      <div class="container">
        <div class="row">
          {% if random_products_two %} {% for product in random_products_two %}
          <div class="col-sm-2">
            <div class="card mt-4 mb-6 box-shadow">
              <img
                src="{{product.product_image}}"
                class="d-block w-100"
                alt="product"
              />
              <div class="card-body">
                <p class="card-text">
                  {{product.product_display_title}}<br />NZD{{
                  product.product_price}}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      View
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} {% else %} "Sorry, there are no products to display at
          this time" {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}
