{% include "header.html" %}
<div class="album py-5 bg-light">
  <p class="wordings">
    Fantastice selection of comfortable yet stylish clothing. Great range of
    colours and dependable sizing. We will keep you looking your best through
    every season.
  </p>
  <h2 class="new-arrival">New Arrival</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="card mt-4 mb-5 box-shadow">
          <img
            src="./static/img/Dress1.jpg"
            class="d-block w-100"
            alt="dress"
          />
          <div class="card-body">
            <p class="card-text">Flattering Border Print Dress<br />NZD99</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img src="./static/img/Top1.jpg" class="d-block w-100" alt="top" />
          <div class="card-body">
            <p class="card-text">Opulent Floral Top<br />NZD79<br /><br /></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img
            src="./static/img/Maxidress1.jpg"
            class="d-block w-100"
            alt="maxidress"
          />
          <div class="card-body">
            <p class="card-text">Tiered Jersey Dress<br />NZD99<br /><br /></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img
            src="./static/img/Jumpsuit2.jpg"
            class="d-block w-100"
            alt="jumpsuit"
          />
          <div class="card-body">
            <p class="card-text">Stylish Jumpsuit<br />NZD129<br /><br /></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img
            src="./static/img/Dress2.jpg"
            class="d-block w-100"
            alt="dress"
          />
          <div class="card-body">
            <p class="card-text">
              Thermolactyl Sweater Dress<br />NZD109<br />
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img
            src="./static/img/Skirt3.jpg"
            class="d-block w-100"
            alt="skirt"
          />
          <div class="card-body">
            <p class="card-text">Blue Floral Skirt<br />NZD89<br /><br /></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="best-seller">Best Sellers</h2>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img
            src="./static/img/NewMaxidress1.jpg"
            class="d-block w-100"
            alt="maxidress"
          />
          <div class="card-body">
            <p class="card-text">
              Twist Front Dress<br />NZD109<br /><br /><br />
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img src="./static/img/NewTop1.jpg" class="d-block w-100" alt="top" />
          <div class="card-body">
            <p class="card-text">
              Flowing Foliage Blouse<br />NZD79<br /><br /><br />
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img
            src="./static/img/jumpsuit6.jpg"
            class="d-block w-120"
            alt="jumpsuit"
          />
          <div class="card-body">
            <p class="card-text">
              Dressy Jumpsuit<br />NZD159<br /><br /><br />
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img
            src="./static/img/Dress3.jpg"
            class="d-block w-100"
            alt="dress"
          />
          <div class="card-body">
            <p class="card-text">
              Lovely Lace Dress<br />NZD119<br /><br /><br />
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img
            src="./static/img/Skirt4.jpg"
            class="d-block w-100"
            alt="skirt"
          />
          <div class="card-body">
            <p class="card-text">
              Panelled Velvet Cord Skirt<br />NZD89<br /><br />
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img
            src="./static/img/Jumpsuit8.png"
            class="d-block w-100"
            alt="jumpsuit"
          />
          <div class="card-body">
            <p class="card-text">
              Floral Jumpsuit<br />NZD109<br /><br /><br />
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="sale">Sale</h2>
      <div class="col-sm-2">
        <div class="card mt-4 mb-8 box-shadow">
          <img
            src="./static/img/Jumpsuit4.jpg"
            class="d-block w-100"
            alt="jumpsuit"
          />
          <div class="card-body">
            Satin Jumpsuit<br />NZD79.20<br />
            <p class="price-1">
              <span class="strikethrough">NZD99</span>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img src="./static/img/Top2.jpg" class="d-block w-100" alt="top" />
          <div class="card-body">
            Thermolactyl Blouse<br />NZD71.10<br />
            <p class="price-1">
              <span class="strikethrough">NZD79</span>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img
            src="./static/img/Dress4.jpg"
            class="d-block w-100"
            alt="dress"
          />
          <div class="card-body">
            Crinkle Dress<br />NZD71.10<br />
            <p class="price-1">
              <span class="strikethrough">NZD79</span>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img
            src="./static/img/Dress5.jpg"
            class="d-block w-100"
            alt="dress"
          />
          <div class="card-body">
            Pleated Dress<br />NZD76.30<br />
            <p class="price-1">
              <span class="strikethrough">NZD109</span>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img src="./static/img/Top3.jpg" class="d-block w-100" alt="top" />
          <div class="card-body">
            Pretty Petals Top <br />NZD62.10<br />
            <p class="price-1">
              <span class="strikethrough">NZD69</span>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card mt-4 mb-6 box-shadow">
          <img
            src="./static/img/Skirt2.jpg"
            class="d-block w-100"
            alt="skirt"
          />
          <div class="card-body">
            Elegant Jersey Skirt<br />NZD80.10<br />
            <p class="price-1">
              <span class="strikethrough">NZD89</span>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}
