{% include "header.html" %}
<div class="container mt-5">
  <div class="row mx-auto" style="max-width: 80%;"> <!-- Adjust max-width as needed -->
    <!-- First Card -->
    <div class="col-md-5">
      <img
        src="/{{product.product_image}}"
        class="d-block w-100 h-auto pb-5 mb-5 ms-5"
        alt="dress"
      />
    </div>
    <!-- Second Card -->
    <div class="col-md-5 offset-md-1 pt-5">
      <h4>{{product.product_display_title}}</h4>
      <hr>
      <p><strong>Price</strong> NZD{{product.product_price}}</p>
      <p><strong>Product Description</strong></br> {{product.product_description}}</p>
      <!--<a href="#" class="btn btn-success">BUY NOW</a>-->
      <form action="/stripe-checkout/{{product.id}}" method="post">
        <script
          src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key="{{ key }}"
          data-description="{{ product.product_title }}"
          data-amount="{{ data_amount }}"
          data-locale="auto"
        ></script>
      </form>      
    </div>
  </div>
</div>
{% include "footer.html" %}
