{% include "header.html" %}
   <p class="wordings">
    DON'T MISS OUT ON THIS LIMITED-TIME DEAL!
  </p>
    <section id="login-background">
    <div class="container">
      <div class="row row-cols-1 row-cols-l- row-cols-md-3 g-3 mb-5">
        <div class="col">
          <div class="card shadow-m mb-6">
            <img
              src="./static/img/salejumpsuit6.jpg"
              class="d-block w-100"
              alt="jumpsuit"
            />
            <div class="card-body">
              Satin Jumpsuit<br />NZD79.2<br />
              <p class="price-1">
                <span class="strikethrough">NZD99<br /><br /></span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-m mb-5">
            <img
              src="./static/img/salejumpsuit1.jpg"
              class="d-block w-100"
              alt="jumpsuit"
            />
            <div class="card-body">
              Swerve Jumpsuit<br />NZD118.30<br />
              <p class="price-1">
                <span class="strikethrough">NZD169<br /><br /></span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-m">
            <img
              src="./static/img/salejumpsuit4.jpg"
              class="d-block w-100"
              alt="jumpsuit"
            />
            <div class="card-body">
              Grace Jumpsuit<br />NZD127.20<br />
              <p class="price-1">
                <span class="strikethrough">NZD159<br /><br /></span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img
              src="./static/img/salejumpsuit2.jpg"
              class="d-block w-100"
              alt="jumpsuit"
            />
            <div class="card-body">
              Genovie Jumpsuit<br />NZD118.30<br />
              <p class="price-1">
                <span class="strikethrough">NZD169</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="./static/img/salejumpsuit3.jpg"
              class="d-block w-100"
              alt="jumpsuit"
            />
            <div class="card-body">
              Estelle Jumpsuit<br />NZD127.20<br />
              <p class="price-1">
                <span class="strikethrough">NZD159</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="./static/img/salejumpsuit5.jpg"
              class="d-block w-100"
              alt="jumpsuit"
            />
            <div class="card-body">
              Karla Jumpsuit<br />NZD135.20<br />
              <p class="price-1">
                <span class="strikethrough">NZD169</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  {% include "footer.html" %}
</div>
