{% include "header.html" %}
  <p class="wordings">
    DON'T MISS OUT ON THIS LIMITED-TIME DEAL!
  </p>
    <section id="login-background">
    <div class="container">
      <div class="row row-cols-1 row-cols-l- row-cols-md-3 g-3 mb-5">
        <div class="col">
          <div class="card shadow-m mb-6">
            <img
              src="./static/img/Skirt2.jpg"
              class="d-block w-100"
              alt="skirt"
            />
            <div class="card-body">
              Elegant Jersey Skirt<br />NZD80.10<br />
              <p class="price-1">
                <span class="strikethrough">NZD89</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-m">
            <img
              src="./static/img/saleskirt1.jpg"
              class="d-block w-100"
              alt="skirt"
            />
            <div class="card-body">
              Knit Panelled Skirt <br />NZD71.20<br />
              <p class="price-1">
                <span class="strikethrough">NZD89</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-m">
            <img
              src="./static/img/saleskirt2.jpg"
              class="d-block w-100"
              alt="skirt"
            />
            <div class="card-body">
              Lightweight Denim Skirt<br />NZD53.10<br />
              <p class="price-1">
                <span class="strikethrough">NZD59</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img
              src="./static/img/saleskirt3.jpg"
              class="d-block w-100"
              alt="skirt"
            />
            <div class="card-body">
              Romantic Floral Skirt<br />NZD71.20<br />
              <p class="price-1">
                <span class="strikethrough">NZD89</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="./static/img/saleskirt4.jpg"
              class="d-block w-100"
              alt="skirt"
            />
            <div class="card-body">
              Beautiful Skirt<br />NZD71.10<br />
              <p class="price-1">
                <span class="strikethrough">NZD79</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="./static/img/saleskirt5.jpg"
              class="d-block w-100"
              alt="skirt"
            />
            <div class="card-body">
              Floral Print Skirt<br />NZD62.10<br />
              <p class="price-1">
                <span class="strikethrough">NZD69</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  {% include "footer.html" %}
</div>
