{% include "header.html" %}
   <p class="wordings">
    DON'T MISS OUT ON THIS LIMITED-TIME DEAL!
  </p>
    <section id="login-background">
    <div class="container">
      <div class="row row-cols-1 row-cols-l- row-cols-md-3 g-3 mb-5">
        <div class="col">
          <div class="card shadow-m mb-6">
            <img
              src="./static/img/Dress4.jpg"
              class="d-block w-100"
              alt="dress"
            />
            <div class="card-body">
              Crinkle Dress<br />NZD71.10<br />
              <p class="price-1">
                <span class="strikethrough">NZD79</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-m">
            <img
              src="./static/img/Dress5.jpg"
              class="d-block w-100"
              alt="dress"
            />
            <div class="card-body">
              Pleated Dress<br />NZD76.30<br />
              <p class="price-1">
                <span class="strikethrough">NZD109</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-m">
            <img
              src="./static/img/saledress1.jpg"
              class="d-block w-100"
              alt="dress"
            />
            <div class="card-body">
              Pintuck Trim Dress <br />NZD80.10<br />
              <p class="price-1">
                <span class="strikethrough">NZD89</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img
              src="./static/img/saledress2.jpg"
              class="d-block w-100"
              alt="dress"
            />
            <div class="card-body">
              Layer Dress<br />NZD79.20<br />
              <p class="price-1">
                <span class="strikethrough">NZD99</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="./static/img/saledress3.jpg"
              class="d-block w-100"
              alt="dress"
            />
            <div class="card-body">
              Brilliant Blossoms Dress<br />NZD79.20<br />
              <p class="price-1">
                <span class="strikethrough">NZD99</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="./static/img/saledress4.jpg"
              class="d-block w-100"
              alt="dress"
            />
            <div class="card-body">
              Short Sleeve Shirt Dress<br />NZD71.10<br />
              <p class="price-1">
                <span class="strikethrough">NZD79</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  {% include "footer.html" %}
</div>
