{% include "header.html" %}

<style>
  body {
    background-image: url("/static/img/sale3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
</style>

<div class="album py-5 bg-light">
  <p class="wordings">
    Fabulous selection of blouses. Great range of colours and dependable sizing.
    We will keep you looking your best through every season.
  </p>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-l- row-cols-md-3 g-3 mb-5">
        {% if top_category_products %} {% for product in top_category_products
        %}
        <div class="col">
          <div class="card shadow-m">
            <img
              src="{{product.product_image}}"
              class="d-block w-100"
              alt="top"
            />
            <div class="card-body">
              <p class="card-text">
                {{product.product_display_title}}<br />NZD{{
                product.product_price}}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} {% else %} "Sorry, there are no products to display at this
        time" {% endif %}
      </div>
    </div>
  </div>

  {% include "footer.html" %}
</div>
