{% include "header.html" %}

<ul class="links">
  {% if session.get('name') %}
  <li><a href="/logout">Logout</a></li>
  {% else %}
  <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
  <li><a href="#" data-toggle="modal" data-target="#signupModal">Signup</a></li>
  {% endif %}

  <!-- Dropdown for categories -->
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Categories
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      {% if categories %} {% for category in categories %}
      <a
        class="dropdown-item category-link"
        href="/userproduct/{{ category.id }}"
        >{{ category.product_category_name }}</a
      >
      {% endfor %} {% else %}
      <a class="dropdown-item" href="#">No categories found</a>
      {% endif %}
    </div>
  </li>

  <!-- Cart dropdown -->
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="cartDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="fa fa-gift bigicon"></span> {{ session.get('cart', {}) |
      length }} - Items in Cart
    </a>
    <div
      class="dropdown-menu dropdown-menu-right"
      aria-labelledby="cartDropdown"
    >
      {% if session.get('cart') and session.get('cart')|length > 0 %} {% set
      total_price = 0 %} {% for item in session.get('cart') %} {% set product =
      products | selectattr("id", "equalto", item.product_id) | list | first %}
      {% if product %} {% set item_total_price = product.product_price *
      item.quantity %} {% set total_price = total_price + item_total_price %}
      <div class="dropdown-item d-flex align-items-center">
        <img
          src="{{ product.product_image }}"
          alt="{{ product.product_display_title }}"
          width="50"
          height="50"
          class="mr-2"
        />
        <div>
          <strong>{{ product.product_title }}</strong><br />
          <span class="cart-item-quantity">Quantity: {{ item.quantity }}</span
          ><br />
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button
                class="btn btn-outline-secondary btn-minus"
                type="button"
                data-item="{{ item.product_id }}"
              >
                -
              </button>
            </div>
            <input
              type="text"
              class="form-control quantity"
              value="{{ item.quantity }}"
              readonly
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary btn-plus"
                type="button"
                data-item="{{ item.product_id }}"
              >
                +
              </button>
            </div>
          </div>
          <span>Total: {{ item_total_price }} NZD</span>
        </div>
        <a
          href="{{ url_for('remove_from_cart', product_id=product.id) }}"
          class="ml-auto text-danger remove-btn"
          data-product-id="{{ product.id }}"
          style="color: black"
        >
          <span aria-hidden="true" style="color: black">&times;</span>
        </a>
      </div>
      {% endif %} {% endfor %} {% else %}
      <div class="dropdown-item">Your cart is empty.</div>
      {% endif %}
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-center" href="{{ url_for('user_cart') }}"
        >View Cart</a
      >
    </div>
  </li>
</ul>
{% include "footer.html" %}
