{% include "header.html" %}

<p class="wordings">Hustle for your wishlist, make it a reality.</p>
  <section id="login-background">
    <div class="container">
      <div class="row row-cols-1 row-cols-l- row-cols-md-3 g-3 mb-5">
        <div class="col">
          <div class="card shadow-m mb-5">
            <img
              src="./static/img/wishlist2.jpg"
              class="d-block w-100"
              alt="wishlist"
            />
            <div class="card-body">
              <p class="card-text">
                Locklea Midi Dress<br />NZD159<br/>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group pb-2">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-m mb-5">
            <img
              src="./static/img/wishlist1.jpg"
              class="d-block w-100"
              alt="wishlist"
            />
            <div class="card-body">
              Amaryllis Jumpsuit<br />NZD199<br /><br />
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-m mb-5">
            <img
              src="./static/img/wishlist3.jpg"
              class="d-block w-100"
              alt="wishlist"
            />
            <div class="card-body">
              Charlotte Cupro Dress<br />NZD159<br /><br />
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  {% include "footer.html" %}
</div>
